/*Fonts*/
@font-face {
  font-family: georgia;
  src: url(/../../src/fonts/Georgia.ttf);
}
@font-face {
  font-family: verdana;
  src: url(/../../src/fonts/Verdana.ttf);
}


body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: georgia;
}

.home {
    overflow-x: hidden;
}

.header {
    height: 72px;
    width: 75%;
    margin: 0 auto;
    margin-top: 54px;
    margin-bottom: 18px;
    position: relative;
    &__logo {
        height: inherit;
        float: left;
        img {
            width: 315px;
            height: 73px;
            margin-left: 5%;
        }
    }
    &__nav {
      display: flex;
      margin-top: 36px;
      position: absolute;
      right: 0px;
      &-item {
          font-size: 24px;
          margin: 0px 20px;
      }
      &-menu {
          display: none;
          position: absolute;
          top: 40px;
          left: 15px;
          display: block;
          background: rgb(255, 255, 255);
          z-index: 2;
          width: 35%;
          border-bottom: 2px solid #b22d30;
      }
    }
    .header__nav-item {
        border: none;
        cursor: pointer;
        font-size: 24px;
        margin: 0px 14px;
        height: 50px;
    }

    .header__nav-block {
        position: relative;
        display: inline-block;
        &:hover {
            &:after {
                content: "";
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 12px solid #000;
                float: right;
                position: absolute;
                top: 8px;
                right: 0px;
            }
        }
        &:first-child {
            font-weight: bold;
            color: #b22d30;
        }
    }

    .header__nav-menu {
        display: none;
        position: absolute;
        right: 0;
        min-width: 195px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .header__nav-menu a {
        color: black;
        padding: 3px 16px;
        text-decoration: none;
        display: block;
        font-weight: normal;
    }

    .header__nav-menu a:hover {
        font-weight: bolder;
        font-size: 16px;
      }

    .header__nav-block:hover .header__nav-menu {
        display: block;
    }
}

.banner {
    position: relative;
    border-top: 4px solid #b22d30;
    &__slide {
        width: 100%;
    }
    &__square {
      position: relative;
      text-align: center;
      margin-top: 4px;
          .square {
              width: 12px;
              height: 12px;
              background: #fff;
              display: inline-block;
              position: relative;
              bottom: 54px;
              margin: 0 2px 0 12px;
              border: 3px solid;
              text-align: center;
          }
    }
    &__main {
        height: 500px;
    }
    &__prev {
        background-image: url(../../src/images/esquerda.png);
        width: 46px;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        left: 74px;
        top: 42%;
    }
    &__next {
        background-image: url(../../src/images/direita.png);
        background-repeat: no-repeat;
        width: 46px;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        right: 74px;
        top: 42%;
    }
}

.editorias {
    width: 80%;
    display: inline-flex;
    margin-bottom: 53px;
    margin: 0 10%;
    h3 {
      font-size: 27px;
      font-weight: bolder;
      width: 50%;
      margin-top: 77px;
      margin-left: 52px;
      letter-spacing: 2px;
    }
    .filtro {
      display: inherit;
      margin: 77px 0px 62px;
      right: 0px;
      font-size: 16px;
      select {
        background: #000;
        color: #fff;
        height: 32px;
        padding: 2px;
        border: none;
      }
      .ordenar {
        margin: 0 12px;
        span {
          font-size: 20px;
        }
        select {
          width: 95px;
        }
      }
    .filtrar {
      select {
        width: 92px;
      }
    }
  }
}

.news {
    width: 80%;
    margin: 0 10%;
    &__block {
      width: 25%;
      height: 336px;
      margin-bottom: 55px;
      border-left: 4px solid #b22d30;
      display: inline-block;
      margin: 0 10px 50px 50px;
      padding: 0 0px 0 25px;
      float: left;
      .innerblock {
        width: 92%;
        img {
          width: 100%;
        }
      }
    }
    &__header {
        margin-bottom: 6px;
        margin-top: 5px;
        font-family: verdana;
        &-data {

        }
        &-editoria {
            float: right;
            font-weight: bold;
        }
        &-foto {
            /*width: 276px;
            height: 162px;*/
        }
    }
    &__body {
      margin-top: 15px;
      &-titulo {
          height: 26px;
          overflow: hidden;
          margin: 5px 0px;
          font-size: 22px;
      }
      &-texto {
          height: 72px;
          overflow: hidden;
          color: #666666;
          font-size: 18px;
          margin: 10px 0 0;
          line-height: 1;
      }
      .mais {
          font-size: 1.5em;
          font-weight: bold;
          margin-top: 16px;
          letter-spacing: 2px;
      }
    }
}

.grafics {
    height: 360px;
    width: 80%;
    display: inline-block !important;
    margin: 0px 10%;
    margin-bottom: 78px;
    margin-top: 30px;
    padding-left: 34px;
    #grafics {
        display: flex;
        height: 300px;
        width: 50%;
        float: left;
    }
    h2 {
        font-size: 28px;
        letter-spacing: 3px;
        font-weight: bolder;
        padding-left: 20px;
    }
    &__title {
        margin-top: 80px;
        font-size: 28px;
        letter-spacing: 2px;
    }
    &__bar {
        width: 42px;
        background-color: #2d2d2d;
        color: #fff;
        margin: 0 20px;
        display: flex;
        align-items: flex-end;
        align-self: flex-end;
        position: relative;
    }
    &__editoria {
        transform: rotate(270deg);
        margin-bottom: 25px;
        width: 100%;
        font-size: 18px;
        font-family: verdana;
        font-weight: bolder;
    }
    &__val {
        position: absolute;
        height: 20px;
        width: 20px;
        top: -30px;
        left: 15%;
        color: black;
        font-size: 25px;
    }
    &__text {
      width: 40%;
      float: right;
      height: 340px;
      padding: 34px 0px;
      margin-right: 106px;
      h3 {
          font-size: 24px;
          margin-bottom: 0px;
          letter-spacing: 2px;
      }
      p {
          column-count: 2;
          text-align: justify;
          column-gap: 24px;
          line-height: 1.4;
          font-size: 16px;
          height: 204px;
          overflow: hidden;
        }
    }
}

.map {
    height: 404px;
    margin-top: 50px;
}

.footer {
    &__left {
        display: inline-block;
        width: 50%;
        float: left;
        &-block {
            padding: 76px 0px 0px 186px;
            letter-spacing: 2px;
            h4 {
                font-size: 32px;
                margin-bottom: 56px;
            }
            p {
                font-size: 24px;
                font-weight: bolder;
                margin-bottom: 5px;
            }
            &-endereco {
                margin-top: 18px;
                p {
                  font-size: 16px;
                  font-family: verdana;
                  margin: 0px;
                  letter-spacing: 0;
                    &:nth-child(5) {
                        padding-top: 40px;
                    }
                    &:nth-child(7) {
                        padding-top: 38px;
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }
    &__right {
        display: inline-block;
        width: 50%;
        float: right;
        background-color: #b22d30;
        height: 690px;
        color: #ffffff;
        &-form {
            display: grid;
            margin-top: 178px;
            margin-left: 38px;
            position: relative;
            font-weight: bolder;
            letter-spacing: 2px;
            h4 {
                font-size: 24px;
                margin-bottom: 10px;
                letter-spacing: 1px;
            }
            label {
                margin: 8px 0px;
                font-family: verdana;
            }
            input {
                width: 71%;
                height: 29px;
            }
            textarea {
                width: 71%;
                height: 102px;
            }
            .buttom {
                font-size: 18px;
                color: #fff;
                font-weight: bold;
                line-height: 1;
                width: 95px;
                height: 41px;
                background-color: #000;
                border: none;
                position: absolute;
                right: 29%;
                bottom: -64px;
            }
        }
    }
}

.line {
    border-top: 2px dashed #9b9da3;
    width: 86%;
    height: 2px;
    display: inline-block;
    margin: 44px 7%;
}

.none {
  display: none;
}

.block {
  display: block;
}
